services:
  - type: web
    name: finopp-api
    env: docker
    region: frankfurt
    plan: free
    branch: main
    healthCheckPath: /health
    envVars:
      - key: PORT
        value: 8080
      - key: ENV
        value: production
      - key: DB_HOST
        sync: false
      - key: DB_PORT
        value: 5432
      - key: DB_USER
        sync: false
      - key: DB_PASSWORD
        sync: false
      - key: DB_NAME
        value: finopp_db
      - key: REDIS_HOST
        sync: false
      - key: REDIS_PORT
        value: 6379
      - key: JWT_SECRET
        generateValue: true
      - key: GROQ_API_KEY
        sync: false
